<mat-tab-group>

    <mat-tab label="Informações">
        <mat-card-content>
            <br/>

            <div>
                <p style="font-size: 17px"> <span style="font-weight: 500;"> Profissional: </span> {{profissional.nome}} </p> 
                <p style="font-size: 17px"> <span style="font-weight: 500;"> Especialidade: </span> {{especializacoes}} </p> 
                <p style="font-size: 17px"> <span style="font-weight: 500;"> Status do plantão: </span> {{retorna_status_plantao(plantao.status)}} </p> 
            </div>


            <div style="display: grid; grid-template-columns: 50% 50%; font-size: 17px; margin-top: 50px;" class="card red">
                <div style="margin-right: 15px;">

                    <span style="display: flex; justify-content: center; font-weight: 500; font-size: 20px; margin-bottom: 10px"> Informacoes da oferta </span>

                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Data de inicio: </span> <span> {{ oferta.dataInicial | date: 'dd/MM/yyyy' }} </span>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Hora de inicio: </span> <span> {{ oferta.dataInicial | date: 'HH:mm' }} </span>

                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Data de fim: </span> <span> {{ oferta.dataFinal | date: 'dd/MM/yyyy' }} </span>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Hora de fim: </span> <span> {{ oferta.dataFinal | date: 'HH:mm' }} </span>
                    </div> 

                </div>

                <div>
                    <span style="display: flex; justify-content: center; font-weight: 500; font-size: 20px; margin-bottom: 10px;"> Informacoes do plantao </span>

                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Data de inicio: </span> <span> {{ plantao.dataInicial | date: 'dd/MM/yyyy' }} </span>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Hora de inicio: </span> <span> {{ plantao.dataInicial | date: 'HH:mm' }} </span>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Data de fim: </span> <span> {{ plantao.dataFinal | date: 'dd/MM/yyyy' }} </span>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <span style="font-weight: 500;"> Hora de fim: </span> <span> {{ plantao.dataFinal | date: 'HH:mm' }} </span>
                    </div>     
                </div>
            </div>




            


        </mat-card-content>
    </mat-tab>

    <mat-tab label="Pagamento">

        <div style="display: grid; grid-template-columns: 55% 45%; margin-top: 20px; font-size: 17px;">
            <div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span style="font-weight: 500;"> Valor ofertado ({{oferta.turno}}): </span> <span> R$ {{oferta.valor}} </span> 
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span style="font-weight: 500;"> Valor por hora extra: </span> <span style="color: blue"> R$ {{oferta.valorHoraExtra}} </span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span style="font-weight: 500;"> Hora extra realizada: </span> <span> {{plantao.horaExtra ? plantao.horaExtra : '-'}} </span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span style="font-weight: 500;"> Descontos: </span> <span style="color: red"> {{plantao.desconto ? plantao.desconto : '-'}} </span>
                </div>
            </div>

            <div style="margin-top: 10px">
                
                <div style="display: flex; justify-content: center; align-items: center;">
                    <div *ngIf="plantao.horaExtra || plantao.desconto">
                        <span> {{oferta.valor}} </span> 
                        <span *ngIf="plantao.horaExtra"> + {{plantao.horaExtra}} x ({{oferta.valorHoraExtra}}) </span> 
                        <span *ngIf="plantao.desconto"> - {{plantao.desconto}} </span>
                    </div>                    
                </div>

                <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                    <span style="margin-right: 10px; font-weight: 600;"> Total: </span> <span> R$ {{retorna_total_a_pagar()}} </span>
                </div>

            </div>            
        </div>

        <div style="font-size: 17px; margin-top: 30px; background-color: #e3e3e3; padding: 20px; border-radius: 10px; height: 120px; display: flex; align-items: center;">
            
            <div style="width: 100%">
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: 500;"> Situacao: </span> <span> Pago </span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: 500;"> Forma de pagamento: </span> <span> PIX </span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: 500;"> Data do pagamento: </span> <span> 10/10/2023 </span>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <span style="font-weight: 500;"> Comprovante: </span> <span> N/A </span>
                </div>
            </div>
            

        </div>


    </mat-tab>



    <mat-tab label="Avaliações">
        

        <div style="padding: 10px">
            <mat-accordion  *ngIf="plantao.avaliacaoClinica">
                <mat-expansion-panel class="mat-elevation-z1">
                 <mat-expansion-panel-header>
                   <mat-panel-title style="display: flex; justify-content: space-between; align-items: center;">
                    <span style="font-weight: 500;">Avaliacao de José Augusto Gomes da Silva</span>
                    <input-avaliacao [disabled]="true" tamanhoEstrela="30px" [(ngModel)]="plantao.avaliacaoProfissional.nota"></input-avaliacao>
                   </mat-panel-title>
                 </mat-expansion-panel-header>
        
                 <div *ngIf="plantao.avaliacaoClinica">
                    <p style="font-style: italic;"> "{{plantao.avaliacaoClinica.descricao}}" </p>
                </div>        
    
               </mat-expansion-panel>
            </mat-accordion>

            <br>
    
            <mat-accordion  *ngIf="plantao.avaliacaoProfissional">
                <mat-expansion-panel class="mat-elevation-z1">
                 <mat-expansion-panel-header>
                   <mat-panel-title style="display: flex; justify-content: space-between; align-items: center;">
                    <span style="font-weight: 500;">Avalicao de Andrei Avelino (Rede D'Or - Niteroi)</span>
                    <input-avaliacao [disabled]="true" tamanhoEstrela="30px" [(ngModel)]="plantao.avaliacaoClinica.nota"></input-avaliacao>
                   </mat-panel-title>
                 </mat-expansion-panel-header>    
    
                 <div *ngIf="plantao.avaliacaoProfissional">
                    <p style="font-style: italic;"> "{{plantao.avaliacaoProfissional.descricao}}" </p>
                </div>
            
               </mat-expansion-panel>
            </mat-accordion>
        </div>

        

       

    </mat-tab>
</mat-tab-group>





