<div style="margin: 20px; width: 90%; border: 1px solid #cecece; border-radius: 25px; padding: 10px">
    <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
        <span style="font-weight: 550; font-size: 17px"> Nome da clínica </span>
        <div style="display: flex;">
            <span style="margin-right: 5px; margin-top: 2px; font-size: 15px; font-weight: 500;"> {{Avaliacao.nota}} </span> 
            <mat-icon style="color: yellow">star</mat-icon>
        </div>        
    </div>
    <div>
        <p [ngClass]="{'escondetexto': !verMais}" style="font-style: italic;">
            "{{Avaliacao.descricao}}"
        </p>
    </div>
    <div *ngIf="!verMais" class="textoescondeaparece" (click)="VerMais()">
        Ver mais
    </div>
    <div *ngIf="verMais" class="textoescondeaparece" (click)="VerMais()">
        Ver menos
    </div>
</div>