<form [formGroup]="formulario" style="height: 90%">

  <mat-stepper #stepper>
    <mat-step label="Avaliação" state="phone">

     
      <div style="display: flex">
        <span style="margin-top: 10px; font-weight: 500; font-size: 20px;"> Nota: </span>
        <input-avaliacao tamanhoEstrela="40px" formControlName="Nota"></input-avaliacao>
      </div>
    
      <mat-form-field appearance="fill" style="width: 100%; height: 100%">
        <mat-label>Avaliação</mat-label>
        <textarea style="min-height: 250px; max-height: 250px;" formControlName="Avaliacao" maxlength="250" matInput></textarea>
      </mat-form-field>
        

    </mat-step>
    <mat-step label="Pagamento" state="chat">

    <div style="display: grid; grid-template-columns: 55% 45%; margin-top: 20px; font-size: 17px;">
        <div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <span style="font-weight: 500;"> Valor ofertado ({{oferta.turno}}): </span> <span> R$ {{oferta.valor}} </span> 
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <span style="font-weight: 500;"> Valor por hora extra: </span> <span style="color: blue"> R$ {{oferta.valorHoraExtra}} </span>
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <span style="font-weight: 500;"> Hora extra realizada: </span> <input style="width: 50px" type="number" formControlName="QuantidadeHoraExtra">
            </div>
            <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                <span style="font-weight: 500;"> Descontos: </span> <input style="width: 50px" type="number" formControlName="Descontos">
            </div>
        </div>

        <div style="margin-top: 10px">
            
            <div style="display: flex; justify-content: center; align-items: center;">
                <div>
                    <span> {{oferta.valor}} </span> 
                    <span *ngIf="formulario.value.QuantidadeHoraExtra"> + {{formulario.value.QuantidadeHoraExtra}} x {{oferta.valorHoraExtra}} </span> 
                    <span *ngIf="formulario.value.Descontos"> - {{formulario.value.Descontos}} </span>
                </div>                    
            </div>

            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                <span style="margin-right: 10px; font-weight: 600;"> Total: </span> <span> R$ {{total()}} </span>
            </div>

        </div>            
    </div>

    <div style="display: flex; justify-content: center; margin-top: 30px;">
      <app-adicionar-arquivo-produto> </app-adicionar-arquivo-produto>
    </div>

    </mat-step>

  </mat-stepper>

</form>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button *ngIf="stepper.selectedIndex != 1" mat-button (click)="onClickButtonProsseguir()">Prosseguir</button>
    <button *ngIf="stepper.selectedIndex == 1" mat-flat-button color="primary" (click)="onClickButtonFinalizar()">Finalizar</button>
  </mat-dialog-actions>