 <div class="card">
  <ngx-flip [flip]="mostrarOferta">

    <div class="card-front" front>

      <div class="card-front-header">
        <div class="card-front-header-descricao">
          <div class="card-front-header-descricao-titulo"> {{oferta.titulo}} </div>
          <div class="card-front-header-descricao-sub-titulo" *ngIf="(clinica$ | async) as clinica"> {{clinica.razaoSocial}} </div>
        </div>
      </div>

      <div class="card-front-body">
        <span class="card-front-body-descricao">
          {{oferta.descricao}}
        </span>            
      </div>

      <div class="card-front-buttons">

        <div class="card-front-buttons-botao-branco" (click)="onClickBtnVerClinica()">
          <mat-icon style="margin-left: 15px; margin-right: 10px">store</mat-icon>
          <span> Perfil da clinica </span>
       </div>
          
        <div class="card-front-buttons-botao-branco" (click)="onClickBtnVerOferta(oferta)"> 
          <mat-icon style="margin-left: 15px; margin-right: 10px">remove_red_eye</mat-icon> 
          <span> Ver oferta </span>
        </div>

        <div class="card-front-buttons-botao-verde" (click)="onClickBtnCandidatar()">
          <mat-icon style="margin-left: 15px; margin-right: 10px">event_available</mat-icon>
          <span> Candidatar-se</span>
        </div>        

      </div>

    </div>

    <div class="card-back" back>

      <div class="card-back-header">
        <div class="card-back-header-descricao">
          <div class="card-back-header-descricao-titulo"> {{oferta.titulo}} </div>
          <div class="card-back-header-descricao-sub-titulo" *ngIf="(clinica$ | async) as clinica"> {{clinica.razaoSocial}} </div>
        </div>
        <div>
          
          <button mat-icon-button color="accent" (click)="onClickBtnVerOferta(oferta)">
            <mat-icon>undo</mat-icon>
          </button>
        </div>
      </div>


      <div class="card-back-content">
        <div class="card-back-content-info" style="height: 100px;">

          <div style="color: #56b880; font-weight: 550; font-size: 18px; margin: 10px;"> Data e hora</div>

          <div style="position: relative; margin: 20px;">
                        <div style="margin-top: 10px;">
              <div style="display: flex; justify-content: space-between;">
                <span style="font-size: 17px; font-weight: 550;">Inicio: </span> <span style="font-size: 15px;">{{retorna_legivel_de_yyyymmddhhmmss(oferta.dataInicial)}}h</span>
              </div>   
              <div style="display: flex; justify-content: space-between;">
                <span style="font-size: 17px; font-weight: 550;">Fim: </span> <span style="font-size: 15px;">{{retorna_legivel_de_yyyymmddhhmmss(oferta.dataFinal)}}h</span>
              </div>
            </div>
          </div>

        </div>

        <div class="card-back-content-info" style="height: 120px;">

          <div style="color: #56b880; font-weight: 550; font-size: 18px; margin: 10px;"> Valor </div>

          <div style="position: relative; margin: 20px;">            

            <div style="margin-top: 10px;">
              <div style="display: flex; justify-content: space-between;">
                <span style="font-size: 17px; font-weight: 550;">Valor: </span> <span style="font-size: 15px;"> R$ {{oferta.valor}} </span>
              </div>   
              <div style="display: flex; justify-content: space-between;">
                <span style="font-size: 17px; font-weight: 550;">Valor por hora extra: </span> <span style="font-size: 15px;">R$ {{oferta.valorHoraExtra}}</span>
              </div>
              <div style="display: flex; justify-content: space-between;">
                <span style="font-size: 17px; font-weight: 550;">Forma de pagamento: </span> <span style="font-size: 15px;">{{retornaMetodoPagamento(oferta.pagamento)}}</span>
              </div>
            </div>
  
          </div>

        </div>

        <div class="card-back-content-info" style="min-height: 100px;">
          <div style="color: #56b880; font-weight: 550; font-size: 18px; margin: 10px;"> Especializações </div>


          <div style="margin-left: 20px;">
            <p *ngFor="let especializacao of oferta.especializacoes" style="font-size: 17px;"> {{especializacao.descricao}} </p>
          </div>

        </div>

        <div class="card-back-content-info" style="height: 150px;">

          <div style="color: #56b880; font-weight: 550; font-size: 18px; margin: 10px;"> Endereço </div>

          <div *ngIf="(clinica$ | async) as clinica" style="position: relative; margin: 20px;">
            <div style="display: flex; justify-content: space-between;">
              <span style="font-size: 17px; font-weight: 550;">Bairro: </span> <span style="font-size: 15px;">{{clinica.endereco.bairro}}</span>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <span style="font-size: 17px; font-weight: 550;">Cidade: </span> <span style="font-size: 15px;">{{clinica.endereco.cidade}}</span>
            </div>
            <div style="display: flex; justify-content: space-between;">
              <span style="font-size: 17px; font-weight: 550;">CEP: </span> <span style="font-size: 15px;"> {{clinica.endereco.cep}} </span>
            </div>   
            <div style="display: flex; justify-content: space-between;">
              <span style="font-size: 17px; font-weight: 550;">Logradouro: </span> <span style="font-size: 15px;"> {{clinica.endereco.logradouro}} </span>
            </div>  
          </div>

        </div>

      </div>
      
    </div>

  </ngx-flip>    
</div>