::-webkit-scrollbar {
  display: none;
}

.block {
    display: flex;
    align-items: center;
    height: 25%;
    cursor: pointer;
    font-weight: 550;
    font-size: 15px;
    margin-top: 2px solid #cecece;
}

.botao-branco {
  background-color: #fff;
}

.botao-branco:hover {
  background-color: #eee
}

.botao-verde {
  background-color: #65c368;
  color: #fff
}

.botao-verde:hover {
  background-color: #5eb861;
  color: #fff
}
  
.card {
  width: 500px;
}



@media screen and (max-width: 1700px) {
    .card {
      min-width: 400px;
    }
}


@media screen and (max-width: 1200px) {
    .card {
      max-width: 500px;
    }
}


.borda {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.borda-bottom {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
}


.cardzada {
  max-width: 450px;
  height: 500px;
}

.card-oferta {
  overflow: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-info {
  background-color: #fff;
  margin-top: 10px;
  width: 430px
}