 <div class="card">
  <ngx-flip [flip]="mostrarOferta">

    <div class="card-front" front>

      <div class="card-front-header">
        <div class="card-front-header-descricao">
          <div class="card-front-header-descricao-titulo"> {{oferta.titulo}} </div>
          <div class="card-front-header-descricao-sub-titulo" *ngIf="(clinica$ | async) as clinica"> {{clinica.razaoSocial}} </div>
        </div>
      </div>

      <div class="card-front-body">
        <span class="card-front-body-descricao">
          {{oferta.descricao}}
        </span>            
      </div>

      <div class="card-front-buttons">

        <div class="card-front-buttons-botao-branco" (click)="onClickBtnVerClinica()">
          <mat-icon style="margin-left: 15px; margin-right: 10px">store</mat-icon>
          <span> Perfil da clinica </span>
       </div>
          
        <div class="card-front-buttons-botao-branco" (click)="onClickBtnVerOferta(oferta)"> 
          <mat-icon style="margin-left: 15px; margin-right: 10px">remove_red_eye</mat-icon> 
          <span> Ver oferta </span>
        </div>

        <div class="card-front-buttons-botao-verde" (click)="onClickBtnCandidatar()">
          <mat-icon style="margin-left: 15px; margin-right: 10px">event_available</mat-icon>
          <span> Candidatar-se</span>
        </div>        

      </div>

    </div>

    <div class="card-back" back>

      <div class="card-back-header">
        <div class="card-back-header-descricao">
          <div class="card-back-header-descricao-titulo"> {{oferta.titulo}} </div>
          <div class="card-back-header-descricao-sub-titulo" *ngIf="(clinica$ | async) as clinica"> {{clinica.razaoSocial}} </div>
        </div>
        <div>
          
          <button mat-icon-button color="accent" (click)="onClickBtnVerOferta(oferta)">
            <mat-icon>undo</mat-icon>
          </button>
        </div>
      </div>


      <div class="card-back-content">
        <div class="card-back-content-info" style="height: 100px;">

          <div style="position: relative; margin: 10px;">
            <div style="color: #56b880; font-weight: 500; font-size: 16px;"> Data </div>

            <div style="margin-top: 10px; margin-left: 15px;">
              <div>Inicio: {{oferta.dataInicial}}</div>
              <div>Fim: {{oferta.dataInicial}}</div>
            </div>
          </div>

        </div>

        <div class="card-back-content-info" style="height: 100px;">

          <div style="color: #56b880; font-weight: 500; font-size: 16px;"> Valor </div>

          <div>            
            <p> Valor: {{oferta.valor}} </p>
            <p> Valor por hora extra: {{oferta.valorHoraExtra}} </p>
          </div>

        </div>

        <div class="card-back-content-info" style="height: 100px;">

          <div style="color: #56b880; font-weight: 500; font-size: 16px;"> Forma de pagamento </div>

          <div>
            {{retornaMetodoPagamento(oferta.pagamento)}}
          </div>

        </div>

        <div class="card-back-content-info" style="height: 100px;">

          <div style="color: #56b880; font-weight: 500; font-size: 16px;"> Especializacoes </div>

          <div>
            <p *ngFor="let especializacao of oferta.especializacoes"> {{especializacao.descricao}} </p>
          </div>

        </div>

        <div class="card-back-content-info" style="height: 100px;">

          <div style="color: #56b880; font-weight: 500; font-size: 16px;"> Endereco </div>

          <div *ngIf="(clinica$ | async) as clinica">
            {{clinica.endereco.logradouro}}
            {{clinica.endereco.bairro}}
            {{clinica.endereco.cidade}}
            {{clinica.endereco.cep}}
          </div>

        </div>

      </div>
      
    </div>

  </ngx-flip>    
</div>