<div style="display: grid; grid-template-columns: 60% 40%; height: 100vh">

    <div class="esquerda"></div>

    <div style="background-color: #84fa84; display: flex; flex-grow: 0.4; justify-content: center; align-items: center;">
        
        <mat-card style="width: 50%; height: 500px; box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;" class="mat-elevation-z1">

            <mat-card-title> Entre na aplicação </mat-card-title>

            <mat-card-content style="margin-top: 100px">
                <form [formGroup]="formulario">
                    <app-input formControlName="Email"
                               [label]="'E-mail'"
                               [placeholder]="'Informe o seu endereço de e-mail'"
                               [control]="formulario.controls.Email"
                               [erros]="ErrosEmail"
                               (keyup.enter)="Login()">
                    </app-input>
    
                    <br>
    
                    <app-input formControlName="Senha"
                               [label]="'Senha'"
                               [type]="'password'"
                               [placeholder]="'Informe a senha'"
                               (keyup.enter)="Login()">
                    </app-input>

                    <mat-checkbox class="example-margin">Manter-me conectado</mat-checkbox>
                </form>
            </mat-card-content>

            <mat-card-actions>
                <button style="width: 100%" 
                        mat-stroked-button 
                        color="primary" 
                        (click)="Login()">Entrar</button>
            </mat-card-actions>

        </mat-card>

    </div>
</div>

<!-- <app-form-debug [form]="formulario"></app-form-debug> -->