<form [formGroup]="formulario">

    <div style="display: flex">
        <span style="margin-top: 10px; font-weight: 500; font-size: 20px;"> Nota: </span>
        <input-avaliacao formControlName="Nota" tamanhoEstrela="40px"></input-avaliacao>
    </div>
    
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="Descricao"></textarea>
    </mat-form-field>

</form>

<button mat-raised-button color="primary" (click)="Avaliar()">Finalizar avaliação!</button>