<form [formGroup]="formulario">

    <mat-card style="margin: 30px">

        <mat-card-title>
            Nota
        </mat-card-title>

        <input-avaliacao formControlName="Nota"></input-avaliacao>
    </mat-card>

    <mat-card style="margin: 30px">
        <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Descrição</mat-label>
                <textarea matInput formControlName="Descricao"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

</form>


<!-- <app-form-debug [form]="formulario"></app-form-debug> -->