  <mat-dialog-content style="height: 90%">
 
    <form [formGroup]="formulario">

      <mat-stepper #stepper>

        <mat-step label="Descrição" state="chat">

          <mat-form-field appearance="fill" style="width: 100%; margin-top: 20px;">
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="Ex. Pizza">
          </mat-form-field>
        

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Avaliação</mat-label>
            <textarea style="min-height: 160px; max-height: 160px;" formControlName="Avaliacao" matInput></textarea>
           </mat-form-field>
        </mat-step>

        <mat-step label="Informações" state="phone">

          <div style="display: flex; margin-top: 20px;">
    
            <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Especialização</mat-label>
                <mat-select formControlName="idEspecializacao" multiple>
                  <mat-option *ngFor="let especializacao of ListaEspecializacao" [value]="especializacao.Id">
                    {{especializacao.Descricao}}
                  </mat-option>
                </mat-select>
            </mat-form-field>       
        
          </div>    

          <div style="display: flex; justify-content: space-between;">        
            <div>

              <div style="display: flex">
                <mat-form-field appearance="fill">
                  <mat-label>Data de inicio</mat-label>
                  <input matInput type="date" formControlName="DataInicial">
                </mat-form-field>
            
                <mat-form-field appearance="fill" style="margin-left: 10px; ">
                  <mat-label>Horario inicial</mat-label>
                  <input matInput type="time" formControlName="HorarioInicial">
                </mat-form-field>  
              </div>
          
              <div style="display: flex">
                <mat-form-field appearance="fill">
                  <mat-label>Data de fim</mat-label>
                  <input matInput type="date" formControlName="DataFinal">
                </mat-form-field>
            
                <mat-form-field appearance="fill" style="margin-left: 10px;">
                  <mat-label>Horario final</mat-label>
                  <input matInput type="time" formControlName="HorarioFinal">
                </mat-form-field>
              </div>  
            </div>
        
            <div style="display: flex; align-items: center;">
              <mp-radio label="Turno:" 
                        [opcoes]="[{Descricao: '24h', Valor: '24h'}, {Descricao: '12h', Valor: '12h'}]" 
                        layout="em-coluna"
                        [width]= "150"
                        (change)="onChangeTurno($event)">
              </mp-radio>
            </div>
        
          </div>

          <mat-step label="Pagamento" state="chat">
            <div style="display: flex">
          
              <mat-form-field appearance="outline" style="width: 500px">
                <input matInput type="number" class="example-right-align" formControlName="Valor">
                <span matPrefix>R$&nbsp;</span>
                <span matSuffix>.00</span>
              </mat-form-field>
          
              <mat-form-field appearance="fill" style="margin-left: 20px; flex-grow: 2; margin-top: 3px;">
                  <mat-label>Método de pagamento</mat-label>
                  <mat-select formControlName="MetodoPagamento">
                    <mat-option *ngFor="let metodo of ListaMetodosPagamento" [value]="metodo">
                      {{metodo}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            
            </div>
          </mat-step>

        </mat-step>

      
      </mat-stepper>

    
      
    </form>
    
   </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button *ngIf="stepper.selectedIndex != 1" mat-button (click)="onClickButtonProsseguir()">Prosseguir</button>
    <button *ngIf="stepper.selectedIndex == 1" mat-flat-button color="primary" (click)="onClickButtonFinalizar()">Finalizar</button>
  </mat-dialog-actions>
