.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
    margin-top: 20px;
    justify-content: stretch;    
}

@media screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: 1fr 1fr; 
    }
}


@media screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr; 
    }
}
