<button [disabled]="ListaNotificacoes.length == 0" mat-icon-button [matMenuTriggerFor]="menu" matBadgeColor="warn" [matBadge]="ListaNotificacoes.length">
    <mat-icon> notifications </mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button *ngFor="let notificacao of ListaNotificacoes" mat-menu-item>

        <mat-icon *ngIf="notificacao.tipoMensagem == 'Alerta'" style="color: yellow;">warning</mat-icon>
        <mat-icon *ngIf="notificacao.tipoMensagem == 'Informacao'" style="color: green">notifications_none</mat-icon>
        <mat-icon *ngIf="notificacao.tipoMensagem == 'Urgente'" style="color: red">error</mat-icon>

        <span>{{notificacao.mensagem}}</span>
    </button>
</mat-menu>

