
    <button mat-stroked-button
            *ngIf="!arquivo"
            (click)="AbrirCaixaArquivos()"
            color="primary"
            style="width: 400px"><mat-icon>attach_file</mat-icon> Comprovante de pagamento
    </button>

    <div *ngIf="arquivo" style="display: flex; justify-content: space-between; background-color: #f5f5f5; height: 35px; width: 400px">
        <p style="color: #2f79e9; font-size: 15px; margin-top: 8px; margin-left: 5px"> {{arquivo}} </p>
        <mat-icon style="cursor: pointer; font-size: 17px; margin-top: 8px;" (click)="ExcluirArquivo()">close</mat-icon>
    </div>
    

    <input type="file" id="selectFiles" value="Import" (change)="ArquivosSelecionados($event.target.files)" hidden/><br />

<!-- 
    <div class="d-flex justify-content-end">
        <button mat-flat-button 
                (click)="upload()" 
                [disabled]="!arquivo"           
                color="primary"><mat-icon>cloud_upload</mat-icon> Enviar
        </button>
    </div> -->
