<mat-dialog-content>

    <div class="content">
        
        <div class="cabecalho">
    
            <div style="display: flex; justify-content: center;">
                <ngx-avatar size="150" name="Magazine Luiza" src="/assets/site-magazine-luiza-reprodu-o-facebook.jpg"></ngx-avatar>
            </div>
    
            <div>
                <div>
                    <span class="perfil-nome"> Magazine Luiza </span>
                </div>
                <div class="perfil-data-entrada">
                    <span> Entrou em novembro de 2016 </span>
                </div>
            </div>
    
        </div>
    
        <div class="info">

            <div class="card" style="color: #ffffff">
                <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                    <mat-icon class="estrela">star</mat-icon> <span style="font-size: 20px; font-weight: 500; margin-left: 5px;"> 4,8 </span>
                </div>
                
                <div> 
                    <span style="font-size: 17px; font-weight: 500;">546</span> <span style="font-size: 17px;"> Plantoes realizados </span>
                </div>

                <div> 
                    <span style="font-size: 17px; font-weight: 500;"> 400 </span> <span style="font-size: 17px;"> Avaliacoes </span> 
                </div>                     
            </div>
    
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Sobre">
                    <p class="sobre">
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </p>
                </mat-tab>
            
                <mat-tab label="Avaliações">
                    <avaliacao-resumida></avaliacao-resumida>
                    <avaliacao-resumida></avaliacao-resumida>
                    <avaliacao-resumida></avaliacao-resumida>
                </mat-tab>
            
            </mat-tab-group>
    
        </div>

    </div>

    

</mat-dialog-content>






<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Voltar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Escolher</button>
</mat-dialog-actions> -->