<div class="card-voltar">
    <button (click)="alterar_perfil_usuario()" mat-stroked-button color="primary" style="margin-right: 10px;">Editar</button>
</div>

<div class="content">
        
    <div class="cabecalho" *ngIf="profissional">
 
        <div style="display: flex; justify-content: center;">
            <ngx-avatar size="150" [name]="profissional.nome"></ngx-avatar>
        </div>
   
        <div>
            <span class="perfil-nome" *ngIf="profissional"> {{profissional.nome}} </span>
        </div>
    
    </div>
    
    <div class="info" *ngIf="profissional">

        <div class="card" style="color: #ffffff; padding: 10px">
            <div style="font-size: 18px; font-weight: 550; display: flex; justify-content: space-between;">
                <span> CPF: </span> <span> {{profissional.cpf | mask: '000.000.000-00'}} </span>    
            </div>        
            <div style="font-size: 18px; font-weight: 550; margin-top: 10px; display: flex; justify-content: space-between;">
                <span> CRM: </span> <span> {{profissional.crm}} </span>
            </div>      
        </div>

        <div class="card center" style="background-color: #ffffff">
            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                <mat-icon class="estrela">star</mat-icon> <span style="font-size: 20px; font-weight: 500; margin-left: 5px;"> {{retorna_media()}} </span>
            </div>
                
            <div> 
                <span style="font-size: 17px; font-weight: 500;">{{retorna_quantidade_plantoes()}}</span> <span style="font-size: 17px;"> Plantoes realizados </span>
            </div>                    
        </div>
    
 
    </div>

    <div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" *ngIf="profissional">
            <mat-tab label="Sobre">
                <p class="sobre"> {{profissional.sobre}} </p>                 
            </mat-tab>
            
            <mat-tab label="Avaliações">
                <avaliacao-resumida *ngFor="let avaliacao of profissional.avaliacoes" [avaliacao]="avaliacao"></avaliacao-resumida>
            </mat-tab>
        </mat-tab-group>   
    </div>

</div>

