<button mat-fab style="background-color: #65c368" class="float fab-btn" aria-label="Example icon button with a delete icon" id="menu-share">
  <mat-icon>add</mat-icon>
</button>

<ul>
  <li>
    <button mat-fab style="background-color: #65c368" class="fab-btn" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </li>


  <li>
    <button mat-fab style="background-color: #65c368" class="fab-btn" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </li>


  <li>
    <button mat-fab style="background-color: #65c368" class="fab-btn" aria-label="Example icon button with a delete icon">
      <mat-icon>delete</mat-icon>
    </button>
  </li>


</ul>