<mat-list role="list">
    <mat-list-item *ngFor="let candidato of candidatos" role="listitem" style="height: 60px">
        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;"> 
            <div style="display: flex; align-items: center;">
                <ngx-avatar [src]="candidato.src ? candidato.src : ''" [name]="candidato.nome" [src]="retorna_imagem_usuario(candidato.imagem)"></ngx-avatar>
                <span style="margin-left: 15px">{{candidato.nome}}</span>
            </div>
            <div>
                <button (click)="selecionar_candidato(candidato)" mat-stroked-button color="primary" style="margin-right: 10px;">Selecionar</button>
                <!-- <button (click)="abrirPerfilUsuario(candidato)" mat-stroked-button color="primary">Ver perfil</button> -->
            </div>
        </div>
        <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

