<div style="display: grid; grid-template-columns: 20% 80%;">

    <div style="margin: 10px">

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; justify-content: space-between;">      
                
                <button mat-stroked-button (click)="onButtonHojeDiaClick()"> Hoje</button>
                
                <button mat-icon-button color="accent" (click)="onButtonAnteriorDiaClick()">
                    <mat-icon>navigate_before</mat-icon>
                </button>

                <button mat-icon-button color="accent" (click)="onButtonProximoDiaClick()">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </div>

            <div>
                <span style="font-size: 22px; font-weight: 500;">{{mesano}}</span>
            </div>
        </div>
        


            <mat-card style="margin-top: 10px; height: 80vh">
                
            </mat-card>
    </div>

    <div>
        <mat-card style="margin: 10px; padding: 25px">

        
            <full-calendar #calendario [options]="calendarOptions"></full-calendar>
        </mat-card>
    </div>
</div>