<div *ngIf="verifica_usuario_administrador()" style="display: grid; grid-template-columns: 15% 85%;">

    <div style="margin: 10px;">
        <data-agenda [calendario]="calendario"
                     layout="administrador"></data-agenda>

        <opcoes-agenda [modovisualizacao]="2"
                       (emitChangeCheckBoxOferta)="onChangeCheckBoxOferta($event)"
                       (emitChangeCheckBoxPlantaoNaoIniciado)="onChangeCheckBoxPlantaoNaoIniciado($event)"
                       (emitChangeCheckBoxPlantaoAndamento)="onChangeCheckBoxPlantaoAndamento($event)"
                       (emitChangeCheckBoxPlantaoFinalizado)="onChangeCheckBoxPlantaoFinalizado($event)">            
        </opcoes-agenda>
    </div>

    <div>
        <mat-card style="margin: 10px; padding: 25px">        
            <full-calendar *ngIf="eventos.length > 0" #calendario [options]="calendarOptions"></full-calendar>
        </mat-card>
    </div>
</div>

<div *ngIf="verifica_usuario_profissional()" style="background-color: #fff; padding: 3px">
    <data-agenda [calendario]="calendario"
                 layout="profissional"></data-agenda>

    <full-calendar *ngIf="eventos.length > 0" #calendario [options]="calendarOptions"></full-calendar>
    <botoes-opcoes-agenda (emitClickButtonFilter)="onClickButtonFilter()"></botoes-opcoes-agenda>
    
</div>



