<mat-sidenav-container class="example-container" style="height: 93vh;">

  <mat-sidenav #sidenav mode="over">

    <div style="display: flex; justify-content: center; align-items: center;">
    
      <!-- <div style="width: 300px;">
        <div style="display: flex; align-items: center; margin-top:10px">
          <div style="margin-left: 10px; margin-right: 10px;">
            <ngx-avatar src="assets/fachada-niteroi-dor2.jpg" size="100" name="Andrei Avelino"></ngx-avatar>
          </div>
          <span style="font-size: 20px; font-weight: 550;"> Rede D'Or - Niteroi </span>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: space-around;">
          <span style="font-size: 17px; font-weight: 550;"> 15 Plantoes </span>
          <span style="font-size: 17px; font-weight: 550;"> 17 Ofertas </span>
        </div>
      </div> -->

      <div>
        <img src="assets/fachada-niteroi-dor2.jpg" width="300">

        <div style="margin-top: 10px; display: flex; justify-content: center;">
          <span style="font-size: 20px; font-weight: 550;"> Rede D'Or - Niteroi </span>
        </div>
      </div>

    </div>
    <mat-selection-list  [multiple]="false">
      <app-item *ngFor="let item of menu.Itens" [Item]="item"></app-item>
    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
 