<mat-card class="mat-elevation-z0" style="border: 1.5px dashed #cecece; margin:0;" [ngStyle]="{'width' : width + 'px' }"  >
    <mat-card-subtitle style="display:flex; justify-content: space-between;">
      
      <span> {{label}} </span>

      <mat-radio-group (change)="EmitirMudanca($event)" [(ngModel)]="value">
        <mat-radio-button *ngFor="let opcao of opcoes" 
                          [value]="opcao.Valor"  
                          color="warn" 
                          [ngClass]="{'em-coluna': layout == 'em-coluna', 'em-linha' : layout === 'em-linha' }">  {{opcao.Descricao}}
        </mat-radio-button>             
      </mat-radio-group> 

    </mat-card-subtitle>


  </mat-card>