.mat-spinner-color::ng-deep circle{
  stroke: #FFFFFF !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-number {
  background-color: #65c368; 
  color: #fff;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #65c368; 
  color: #fff;
}



.button {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
  position: absolute;

  &-finalizar {    
    display: fixed;     
    width: 90%;
    height: 40px;   
    background-color: #65c368;

        &-label {
            font-size: 17px;
            font-weight: 550;
            color: #fff;
        }

        &-spinner {
            display: flex;
            justify-content: center;
        }
  }
}

.stepper-conteudo {
  width: 100%; 
  margin-top: 20px;
}