<div class="header">
  <img src="../../assets/saude.jpg" width="55">
</div>

<div class="pagina">

  <div class="content">
    <form [formGroup]="formulario" style="overflow: scroll; max-height: calc(100% - 20px)">
      <mat-vertical-stepper #stepper animationDuration="500">  
    
        <mat-step [stepControl]="true">  
          <div class="stepper-conteudo">         
            <app-input formControlName="nome"
                       [label]="'Nome'"                  
                       [control]="formulario.controls.nome">
            </app-input>
    
            <app-input formControlName="dataNascimento"
                       type="date"
                       appearance="fill"
                       [label]="'Data de nascimento'"
                       [control]="formulario.controls.dataNascimento">
            </app-input>
  
            <app-input mask="(00) 00000-0000" 
                       formControlName="telefone"
                       [label]="'Telefone'"
                       [control]="formulario.controls.telefone">
            </app-input>
  
            <mp-radio label="Genero:"
                      formControlName="genero" 
                      [opcoes]="[{Descricao: 'Masculino', Valor: 'M'}, {Descricao: 'Feminino', Valor: 'F'}]" 
                      layout="em-coluna"
                      [width]= "350">
            </mp-radio>
          </div>
        
          <ng-template matStepLabel>Informações pessoais</ng-template>
    
        </mat-step>
  
  
        <mat-step [stepControl]="true">
          <ng-template matStepLabel>Conta</ng-template>
    
          <div class="stepper-conteudo">
            <app-input formControlName="email"
                       type="email"
                       [label]="'E-mail'"
                       [control]="formulario.controls.email">
            </app-input>
            
    
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Senha</mat-label>
              <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
 
              <mat-error *ngIf="formulario.get('password').hasError('pattern')" style="display: flex; flex-direction: column;" >
                <span> A senha deve conter ao menos uma letra maiuscula </span>
                <span> A senha deve conter ao menos uma letra minuscula </span>
                <span> A senha deve conter ao menos um caracter especial </span>
                <span> A senha deve conter numeros </span>
              </mat-error>
            </mat-form-field>
    

            <mat-form-field [ngClass]="formulario.get('password').hasError('pattern') && formulario.get('password') ? 'aumentamargen': ''" appearance="outline" style="width: 100%;">
              <mat-label>Confirmar Senha</mat-label>
              <input type="password" matInput formControlName="confirmPassword">
            </mat-form-field>
          </div>
        </mat-step>
  
  
  
        <mat-step [stepControl]="true">
          <ng-template matStepLabel>Documentos</ng-template>
    
          <div class="stepper-conteudo">
            <app-input mask="000.000.000-00" 
                       formControlName="cpf"
                       [label]="'CPF'"
                       [control]="formulario.controls.cpf">
            </app-input>
    
            <app-input formControlName="crm"
                       [label]="'CRM'"
                       [control]="formulario.controls.crm">
            </app-input>
          </div>
    
        </mat-step>
  
        <mat-step>
          <ng-template matStepLabel>Especializações</ng-template>
    
          <mat-form-field appearance="fill" class="stepper-conteudo">
            <mat-label>Especialização</mat-label>
            <mat-select formControlName="especializacoes" multiple>
              <mat-option *ngFor="let especializacao of ListaEspecializacao | async" [value]="especializacao">
                {{especializacao.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field> 
        
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Finalizar</ng-template>

            <button class="button-finalizar"
                    mat-stroked-button
                    (click)="cadastrarUsuario()"
                    [disabled]="!formulario.valid">
              <div *ngIf="!logando" class="button-finalizar-label">
                <p>Finalizar</p>
              </div>
              <div *ngIf="logando" class="button-finalizar-spinner">
                <mat-spinner class="mat-spinner-color" diameter="30"></mat-spinner>
              </div>   
            </button>
            
        </mat-step>
      </mat-vertical-stepper>
    </form>    
  </div> 

</div>


